.table-custom {
    height: 350px;
}

.table-custom td {
    border-bottom: none;
}

.card {
    border: none;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

.image-dropzone {
    cursor: pointer;
    height: 270px;
    padding: 20px;
    background: #F6F8FB;
    border: 2px dashed #97BEF4;
    border-radius: 15px;
    color: #bdbdbd;
    outline: none;
    transition: border .24s ease-in-out,
}


.btn {
    border-radius: 8px;
}

.smaller-screen-btn {
    display: none;
}

.progress, .progress-bar {
    border-radius: 8px;
    height: 10px;
}

.preview-img {
    height: 338px;
}

.preview-img img {
    border-radius: 12px;
}

.upload-result {
    background: #F6F8FB;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    font-size: small;
    padding: 8px 3px 9px 8px;
}

.upload-result .btn {
    margin-top: -5px;
    float: right;
}


@media (max-width: 380px) {
    .preview-img {
        height: 228px;
    }
}

@media (min-width: 381px) and (max-width: 400px) {
    .preview-img {
        height: 250px;
    }
}

@media (min-width: 401px) and (max-width: 500px) {
    .preview-img {
        height: 320px;
    }
}

@media (max-width: 567px) {
    .table-custom {
        height: 250px;
    }

    .image-dropzone {
        height: 210px;
        padding: 10px;
        border-radius: 8px;
    }
}

@media (min-width: 779px) and (max-width: 1199px) {
    .preview-img {
        height: 300px;
    }
}

@media (max-width: 1199px) {
    .upload-result .btn {
        display: none;
    }
    .smaller-screen-btn {
        display: block;
    }
    
}
